h1 {
    color: blue;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    text-align: center;
}
html,body{
    height:100%;
 }
 .carousel,.item,.active{
    height:100%;
  }
 .carousel-inner{
     height:100%;
 }