<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Display Recipe Page</h1>
    <h2>This is the input: <span data-th-text="${inputz}"></span></h2>
    
    <br>

    <table data-th-each="f: ${foodListz}">
        <tr>
            <td>Recipe Name: <span data-th-text="${f.recipeName}"></span></td>
        </tr>
    </table>
    
    <br>
    
    <form action="">
        <h3>Do you want to save this recipe?</h3>
        <input type="submit" value="save it!">
    </form>
    
</body>
</html>