<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Display Recipe Page</h1>
    <h2>Hello <span data-th-text="${username}"></span></h2>
    <h2>This is the cuisine input: <span data-th-text="${inputz}"></span></h2>
    <h2>This is the Calorie input: <span data-th-text="${maxCalzInput}"></span></h2>
    <!-- <h2>This is something else i get from Redis: <span data-th-text="${somethingzxc}"></span></h2>
    <h2>This is something else i get from Redis: <span data-th-text="${onezxc}"></span></h2>
    <h2>This is a JSON Object i get from Redis: <span data-th-text="${one}"></span></h2> -->
    
    <br>

    <table th:each="item:${thefood}">
        <tr>
            <td>Recipe Name: <span th:text="${item.recipeName}"></span></td>
        </tr>

        <tr>
            <td>Recipe ID: <span th:text="${item.id}"></span></td>
        </tr>

        <tr>
            <td>Image: <img th:src="${item.image}" alt=""></td>
        </tr>
    </table>
    
    <br>

       <form action="/savedpage" method="POST">
            <h3>Do you want to save this recipe?</h3>
                
            <input type="text" name="id" data-th-value="${hiddenid}">
            <input type="text" name="recipename" data-th-value="${hiddenrecipename}">
            <input type="text" name="image" data-th-value="${hiddenimage}">

            <input type="text" name="username" data-th-value="${username}">
            
            <input type="submit" value="save it!">
        </form> 
    
    
    <br>
    <form action="/searchrecipe" method="GET">
        <input data-th-value="${username}" name="username">
        <input type="submit" value="Search Again">
    </form>
    
</body>
</html>