<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
      .bg-1 { 
    background-color: #242526;
    /* #242526 */
    color: darkgray;
    font-size: large;
    font-family:serif ,Georgia, 'Times New Roman', Times;
  }
  .bg-2 { 
    background-color: #242526;
    color: blue;
  }
  .bg-3 { 
    background-color: #000000;
    color: whitesmoke;
    
  }
  img {
  opacity: 2;
  width: "500";
  height: "300";
  
}
  .container-fluid {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  </style>
</head>
<body>
  
<div class="container-fluid bg-1 text-left">
  <div class="row">
  <div class="col-md-1">
    <h1 class="text-left"> <img src="images/FFFFLogo3.png" height="100"></h1>
  </div>
  
  <div class="col-md-8" >
    <br>
    <h1 class="text-left">Hello <span data-th-text="${username}"></span></h1>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-1">
    <br>
    <br>
    <form action="/savedrecipes" method="GET">
      <input type="hidden" data-th-value="${username}" name="username">
      <input type="submit" value="saved recipes" class="btn btn-secondary btn-sm">
    </form>
  </div>

  <div class="col-md-1">
    <br>
    <br>
    <form action="/" method="GET">
    <input type="submit" value="logout" class="btn btn-secondary btn-sm">
  </form>
  </div>
  
  </div>
</div>

<div class="container-fluid bg-1 text-center" style="background-color: lightgray; color:#000000">
    <br>
    <img src="images/searchicon.png" alt="" height="300">
    <br>
    <br>
    <form action="/displayrecipe" method="GET">
        <label for="cuisine"> Choose a Cuisine:</label>
            <select name="userInput" id="cuisine">
                <option value="" disabled selected>Select your Cuisine!</option>
                <option value="African">African</option>
                <option value="American">American</option>
                <option value="British">British</option>
                <option value="Cajun">Cajun</option>
                <option value="Carribean">Carribean</option>
                <option value="Eastern European">Eastern European</option>
                <option value="European">European</option>
                <option value="French">French</option>
                <option value="German">German</option>
                <option value="Greek">Greek</option>
                <option value="Indian">Indian</option>
                <option value="Irish">Irish</option>
                <option value="Italian">Italian</option>
                <option value="Jewish">Jewish</option>
                <option value="Korean">Korean</option>
                <option value="Latin American">Latin American</option>
                <option value="Mediterranean">Mediterranean</option>
                <option value="Mexican">Mexican</option>
                <option value="Middle Eastern">Middle Eastern</option>
                <option value="Nordic">Nordic</option>
                <option value="Southern">Southern</option>
                <option value="Spanish">Spanish</option>
                <option value="Thai">Thai</option>
                <option value="Vietnamese">Vietnamese</option>
            </select>    
        <br>
            Calorie Input:
        <input type="number" name="maxCalorieInput" min="600" max="2000">   
        <br>
        <input type="hidden" name="username" data-th-value="${username}">
        <br>
        <input type="submit" value="Find It!" class="btn btn-secondary btn-sm">      
    </form>

    <br>
    <h3>Pick a cuisine and we'll get you a recipe!</h3>

</div>

<div class="container-fluid bg-1 h-100" >
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<footer class="text-center" style="background-color: grey;">
  <div class="fixed-bottom bg-dark">
   <p style="color: white;"><a href="https://shielded-inlet-76126.herokuapp.com/" style="color: white;">|FoodFinderInc.com|</a></p> 
  </div>    
</footer>


</body>
</html>