<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
      .bg-1 { 
    background-color: #242526;
    /* #242526 */
    color: darkgray;
    font-size: large;
    font-family:serif ,Georgia, 'Times New Roman', Times;
  }
  .bg-2 { 
    background-color: #242526;
    color: blue;
  }
  .bg-3 { 
    background-color: #000000;
    color: whitesmoke;
    
  }
  img {
  opacity: 2;
  width: "500";
  height: "300";
  
}
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
    </style>
</head>
<body>
<div class="container-fluid bg-1 text-center" >
    <h1>Hello <span data-th-text="${username}"></span></h1>

    <h1>
        <br>
        <img src="images/FFFFLogo3.png" height="100">
    </h1>
    <br>

    <form action="/displayrecipe" method="GET">
        <label for="cuisine"> Choose a Cuisine:</label>
            <select name="userInput" id="cuisine">
                <option value="" disabled selected>Select your Cuisine!</option>
                <option value="African">African</option>
                <option value="American">American</option>
                <option value="British">British</option>
                <option value="Cajun">Cajun</option>
                <option value="Carribean">Carribean</option>
                <option value="Chinese">Chinese</option>
                <option value="Eastern European">Eastern European</option>
                <option value="European">European</option>
                <option value="French">French</option>
                <option value="German">German</option>
                <option value="Greek">Greek</option>
                <option value="Indian">Indian</option>
                <option value="Irish">Irish</option>
                <option value="Italian">Italian</option>
                <option value="Japanese">Japanese</option>
                <option value="Jewish">Jewish</option>
                <option value="Korean">Korean</option>
                <option value="Latin American">Latin American</option>
                <option value="Mediterranean">Mediterranean</option>
                <option value="Mexican">Mexican</option>
                <option value="Middle Eastern">Middle Eastern</option>
                <option value="Nordic">Nordic</option>
                <option value="Southern">Southern</option>
                <option value="Spanish">Spanish</option>
                <option value="Thai">Thai</option>
                <option value="Vietnamese">Vietnamese</option>
            </select>
            
        <br>
            Calorie Input:
        <input type="number" name="maxCalorieInput" min="1" max="2000">
            
        <br>

        <input type="hidden" name="username" data-th-value="${username}">

        <br>
        
        <input type="submit" value="Find It!" class="btn btn-default btn-lg">

        
    </form>

    <h2>Pick a cuisine and we'll get you a recipe!</h2>

    <br>
    <form action="/savedrecipes" method="GET">
        <input type="hidden" data-th-value="${username}" name="username">
        <input type="submit" value="Go to saved recipes" class="btn btn-default btn-lg">
    </form>

    <br>
    <form action="/" method="GET">
        <input type="submit" value="logout" class="btn btn-default btn-lg">
    </form>
    <br>
</div>
</body>
</html>